<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@history.user_id).email %>
</p>

<p>
  <strong>Book:</strong>
  <%= Book.find(@history.book_id).title %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @history.due_date %>
</p>



<%= link_to 'Back', home_path %>
